<section class="section">
  <%= image_tag('airport', style: 'position: absolute; width: 100%; height: 100%; z-index: -10; left: 0; top: 0;') %>
  <div class="container">
    <%= render partial: 'travels/form' %>

    <%= render partial: 'travels/result' %>
  </div>
</section>