<section class="section">
  <%= image_tag('checkout', style: 'position: absolute; min-width: 100%; min-height: 100%; z-index: -10; left: 0; top: 0;') %>

  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3 has-background-light is-relative">
        <%= hidden_field_tag :count, params[:count] %>
        <% @passengers.each do |array| %>
          <%= render partial: 'passengers/form', locals: {number: array.first, passenger: array.second} %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= javascript_pack_tag 'passenger' %>