<section class="section">
  <%= image_tag('checkout', style: 'position: absolute; min-width: 100%; min-height: 100%; z-index: -10; left: 0; top: 0;') %>

  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3 has-background-light p-6">
        <%= render partial: 'passengers/form' %>
      </div>
    </div>
  </div>
</section>