<div class="box mt-5">
  <div class="field">
    <div class="control">
      <h2 class="title is-3">2 Transfer Routes</h2>
      <p id="transfer2__none">No 2 transfer options available.</p>
      <table class="table is-hoverable has-text-centered is-fullwidth is-bordered is-narrow hidden" id="transfer2__table">
        <thead class="has-background-warning">
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Date</th>
            <th>Time</th>
            <th>Duration</th>
            <th>Vehicle</th>
            <th>Checkout</th>
          </tr>
        </thead>
        <thead class="has-background-warning">
          <tr>
            <th><i class="fal fa-city"></i><i class="fal fa-hourglass-start"></i></th>
            <th><i class="fal fa-city"></i><i class="fal fa-hourglass-end"></i></th>
            <th><i class="fal fa-calendar-day"></i></th>
            <th><i class="fal fa-watch"></i></th>
            <th><i class="fal fa-stopwatch"></i></th>
            <th><i class="fal fa-plane"></i></th>
            <th><i class="fal fa-cart-arrow-down"></i></th>
          </tr>
        </thead>
        <tbody id="transfer2__body">
        </tbody>
      </table>
      
    </div>
  </div>
</div>